#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /* width: 80vh; */
}

.home-title {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: 700;
}

.home-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.home-typed-section {
    padding: 50px;
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}