/* project section */
#projects {
    padding-top: 30px;
  }
  
  .project-title {
    font-size: 28px;
    font-weight: 700;
  }
  
  
  .project-item {
    background-color: rgb(228, 227, 226);
  }
  
  
  .project-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  .project-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .project-text-container {
    flex-basis: 60%; /* Set a fixed width for the text container */
    padding: 10px 20px;
    text-align: center; /* Center text horizontally */
  }
  
  .project-description {
    width: 80%; /* Set a width for the paragraph */
    margin: 0 auto; /* Center the paragraph horizontally */
  }
  
  .project-image-thumbnail {
    width: 5%;
    height: 5%;
    border-radius: 15px;
  }
  